<div class="results-block">
  <%= render 'layouts/messages' %>
</div>
<% if @friends %>
<div class="card card-header results-block">
  <% @friends.each do |friend| %>
  <div class="mb-3">
    <strong>Name:</strong> <%= friend.full_name %>
    <strong>Email:</strong> <%= friend.email %>
    <strong>Actions:</strong> 
    <%= link_to user_path(friend), class: "btn btn-sm btn-primary" do %>
      <%= fa_icon 'eye' %>
      View profile
    <% end %>
    <% unless current_user.friend_with?(friend) %>
      <%= link_to friendships_path(friend: friend), class: "btn btn-sm btn-success", method: :post do %>
        <%= fa_icon 'plus' %>
        Add friend
      <% end %>
    <% else %>
      <div class="badge badge-secondary">
        You are friends 
      </div>
    <% end %>
  </div>
  <% end %>
</div>
<% end %>